XmlInputSchema.xml

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ObjectList" minOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Object" maxOccurs="unbounded" minOccurs="2">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="Value"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>